#all-bots-summary-title {
    background: blanchedalmond;
    color: black;
    height: 1;
}

#sel-bot-title {
    background: blanchedalmond;
    color: black;
    height: 1;
    text-align: center;
    margin-left: 1;
    margin-right: 1;
}

TabbedContent {
    height: 1fr;
}

ContentSwitcher {
    height: 1fr;
}

TabPane {
    layout: vertical;
    width:100%;
    height: 1fr;
    overflow: auto;
}

TabPane > DataTable {
    height: 1fr;
    overflow: auto;
}

TabPane > Static {
    margin-left: -1;
    margin-right: -1;
    overflow: auto;
}

DataTable {
    scrollbar-gutter: stable;
    padding-right: 4;
}

#whitelist {
    dock: left;
    width: 20;
    overflow: auto;
    height: 1fr;
    border: darkgray;
    /* scrollbar-gutter: stable; */
    /* margin: 2 2; */
}

#dsh-chart-bot-list {
    dock: left;
    width: 20;
    height: 32;
    overflow: auto;
    height: 1fr;
    border: darkgray;
    /* scrollbar-gutter: stable; */
    /* margin: 2 2; */
}

ListView Label {
    padding: 1 2;
}

#dash-container {
    overflow: auto;
    height: 100%;
}

#dash-all-trade-summary {
    min-height: 5;
    height: auto;
    border: red;
}

#dash-container > DataTable {
    margin-left: 1;
}

#dash-collapsibles {
    overflow: auto;
    height: auto;
    border: yellow;
}

#dash-collapsibles Collapsible {
    margin-left: -1;
    margin-right: 1;
    border-left: #222;
    padding-top: -1;
    padding-left: 1;
}

#dash-collapsibles CollapsibleTitle {
    width: 1fr;
    background: initial;
    padding-top: 1;
    height: 3;
}

#dash-collapsibles Collapsible Container {
    padding-top: 1;
    margin-right: -1;
}

.bg-static-default {
    background: #222;
}

#dash-closed-profit-container {
    height: 32;
    overflow: auto;
    scrollbar-gutter: stable;
}

#dsh-chart-container {
    height: 33;
    padding-left: 2;
}

#dash-cumprof-profit {
    height: 32;
    width: 100%;
    padding-right: 2;
    overflow: auto;
    scrollbar-gutter: stable;
}

#above-bot {
    layout: horizontal;
    overflow: auto;
    height: auto;
    margin-left: 1;
    margin-right: 1;
    margin-top: 1;
}

#debug-log {
    height: 1fr;
    width: 100%;
    overflow: auto;
    scrollbar-gutter: stable;
}

#log {
    height: 1fr;
    width: 100%;
    /* border: green; */
    overflow: auto;
    scrollbar-gutter: stable;
}

#parent-container {
    width:100%;
    height:1fr;
}

#above {
    layout: horizontal;
    overflow: auto;

    height: auto;

    border: green;

    padding-top: 1;
    padding-bottom: 1;
    padding-left: 6;
}

#above > Container {
    height: 5;
}

#right {
    overflow: auto;
    height: 100%;
    width: 100%;
}

#trades-summary {
    width: 100%;
    height: auto;
    margin-left: 1;
    margin-right: 1;
    margin-top: 1;
}

#all-open-trades-table {
    link-color: goldenrod;
}

#closed-trades-table {
    link-color: goldenrod;
}

#dsh-chart-header {
    dock: top;
    height: 1;
    background: #222;
}

#dash-refresh-chart-button {
    dock: right;
    height: 1;
    border: none;
    margin-right: 1;
}

#bot-chart-header {
    dock: top;
    height: 1;
    background: #222;
}

#bot-refresh-chart-button {
    dock: right;
    height: 1;
    border: none;
    margin-right: 1;
}

#bot-chart-container {
    height: auto;
    padding-left: 2;
    padding-right: 2;
}

#bot-chart-container Collapsible {
    border-left: #222;
    padding-bottom: 0;
    margin-bottom: 0;
}

#bot-chart-container CollapsibleTitle {
    width: 1fr;
    background: initial;
    padding-top: 1;
    height: 3;
}

#bot-chart-container Collapsible > Container {
    padding-top: 1;
    margin-top: 0;
    background: initial;
    height: 33;
}

#bot-chart {
    height: 31;
    width: 100%;
    padding-left: 1;
    padding-right: 1;
    overflow: auto;
    scrollbar-gutter: stable;
}

#bot-config-container {
    height: auto;
    width: 100%;
}

#bot-general-vert {
    dock: left;
    width: 60%;
    height: auto;
    overflow: auto;
    scrollbar-gutter: stable;
}

#bot-general-markdown {
    height: auto;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 1;
    padding-right: 1;
}

#bot-general-table {
    height: auto;
    width: 100%;
}

#bot-config-markdown {
    width: 100%;
    height: auto;
    border-left: white;
    padding-left: 4;
}

#bot-sysinfo-container {
    height: auto;
    width: 100%;
}

#bot-sysinfo-container Horizontal {
    height: auto;
    width: 100%;
}

#sysinfo-summary-cpu {
    height: 3;
}

#sysinfo-summary-cpu > .sparkline--max-color {
    color: $error;
}
#sysinfo-summary-cpu > .sparkline--min-color {
    color: $success;
}

#sysinfo-cpu-text {
    padding-left: 1;
}

#sysinfo-progress-ram {
    width: 100%;
}

#settings-left {
    dock: left;
    width: 30%;
    height: auto;
    overflow: auto;
    scrollbar-gutter: stable;
}

#settings-left Label {
    padding-left: 1;
    padding-bottom: 1;
}

#settings-right {
    width: 70%;
    overflow: auto;
    border-left: white;
}

#settings-right Container {
    width: 100%;
}

#settings-right Label {
    padding-left: 1;
    padding-bottom: 1;
}

#settings-right Horizontal Label {
    padding-left: 1;
    padding-top: 1;
}

#settings-above {
    layout: horizontal;
    height: 5;
    border: green;
}

#settings-above Static {
    padding-top: 1;
}

#bot-save-settings-button {
    dock: right;
    height: 3;
}

#help-above {
    layout: horizontal;
    height: auto;
    border: green;
}

#info {
    width: auto;
}

#trade-info-left {
    dock: left;
    width: 50%;
}

#trade-info-right {
    dock: right;
    width: 50%;
}

#trade-info-footer {
    dock: bottom;
    height: 1;
}

#info-dialog {
    margin: 4 8;
    color: $text;
    border: rgba(255, 255, 255, 0.3);
    padding: 1 2;
    layout: grid;
    grid-size: 3;
    grid-columns: 2fr 1fr 1fr;
}

#dt-dialog {
    height: 1fr;
    /* width: 100%; */
    margin: 4 8;
    /* background: $panel 50%; */
    color: $text;
    border: rgba(255, 255, 255, 0.3);
    padding: 1 2;
}

.full-width {
    width: 100%;
    border: round #444;
}
